@charset "utf-8";
/* CSS Document */
*{scroll-behavior: smooth}
footer{ margin-top: 300px}
footer .hang1
{
	position: absolute; top: -50px; width: 100%; left: 50;text-align:left
}
footer .hang2{ padding-top: 150px}
.banner { position: relative}
.top-ship{width: 100%; position: absolute; top: 0}
h8{font-size:12px}
h6{font-size:17px}